In [1]:
import pandas as pd

In [2]:
train_data=pd.read_csv("train.csv")
test_data=pd.read_csv("test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
import numpy as np

mean=np.mean(train_data["Age"])
train_data["Age"]=train_data["Age"].fillna(mean)

In [6]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
mean=np.mean(test_data["Age"])
test_data["Age"]=test_data["Age"].fillna(mean)
test_data["Fare"]=test_data["Fare"].fillna(method='ffill')

In [8]:
y_target=train_data["Survived"]

features=["Pclass","Sex","Age","SibSp","Parch","Fare"]
X_train=pd.get_dummies(train_data[features])
X_test=pd.get_dummies(test_data[features])



from sklearn.ensemble import RandomForestClassifier as RFC

model_titanic=RFC(n_estimators=100, max_depth=5, random_state=1)
model_titanic.fit(X_train,y_target)

predicted_survival=model_titanic.predict(X_test)

In [9]:
prediction_show=pd.DataFrame({"Passenger ID":test_data["PassengerId"],
                             "Survived":predicted_survival
                             })

prediction_show

     Passenger ID  Survived
0             892         0
1             893         0
2             894         0
3             895         0
4             896         1
..            ...       ...
413          1305         0
414          1306         1
415          1307         0
416          1308         0
417          1309         0

[418 rows x 2 columns]

In [10]:
prediction_show.to_csv("my_submission2",index=False)
print("submission successful")

submission successful

In [12]:
model_titanic.score(X_train,y_target)

0.8439955106621774

In [15]:
model_titanic.score(X_test,predicted_survival)

1.0